.card{
position: relative;
border: 0.5px solid white;
box-shadow: 0px 0.2px 0.2px #000000;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1); 
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1); 
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1);
transition: all 200ms ease-in;
transform: scale(0.7); 
box-sizing: border-box;
height: 10rem;
background:white;
width: 30.9rem;
overflow: hidden;

}
.Wall-background-image{
position: absolute;
margin-top:-230px;
margin-left: 90px;
opacity: 0.1;
}
#Coming-together{
color:white;
margin-top: -28px;
margin-left: 40px;
}
#Wall-of-Contribution{
text-align: left;
color: white;
font-family: Roboto, Helvetica, sans-serif;
font-size: 30px;
font-style: normal;
font-weight: bold;
margin-left: 40px;
margin-top: 38px;
}
.Wall-background-image{
margin-top: -120px;
margin-left: 0px;
width: 1100px;
height: 140px;
}
.PageContent{
border: 1px solid black;
width: 1100px;
height: 130px;
position: absolute;
margin-left:100px;
margin-right:-32.75px;
background-color:#522463;
}
.pagination {
position: absolute;
margin-top: 500px;
margin-left:457px;
display:flex;
justify-content: center;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}
.pagination button {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
border: 1px solid #ddd;
outline: none;
}
.pagination button.active {
background-color: #337ab7;
color: white;
border: 1px solid #337ab7;
}
.pagination button:hover:not(.active) {background-color: white;}
.pagination button:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.pagination button:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
@media (max-width: 480px) {
.pagination button {
  padding: 10px 16px;
}
}
#Recognition
{
position: absolute;
font-weight: lighter;
margin-top: 70px;
margin-left: 15px;
font-size: 20px;
color: #797979;
line-height: 2;
font-family: Roboto, Helvetica, sans-serif;
}
#Recognition-Message{
position: static;
margin-top: 65px;
font-size: 18px;
margin-left: 15px;
line-break: loose;
line-height: 2;
font-family:Roboto, Helvetica, sans-serif;
color:#5A5A5A;
}
.Recognition-Message:hover{
word-break: break-all;
word-wrap: break-word;
white-space: pre-wrap;
}
.tags{
border: 1px solid white;
position: absolute;
margin-top: 160px;
width: 850px;
height: 50px;
background: white;
margin-left: 80px;
}
.SearchTool{
border: 1px solid white;
position: absolute;
margin-top: 50px;
height: 50px;
width: 407px;
background: white;
margin-left: 960px;
}
.SearchTool.search {
padding: 100px;
margin-top: 6px;
font-size: 17px;
border: none;
}
.pagination li {
display:inline-block;
padding:5px;
}
.card:hover{
position: static;
overflow: auto;
box-shadow: 0px 1px 20px #000000;
z-index: 2;
-webkit-transition: all 300ms ease-in;
-webkit-transform: scale(0.75);
-ms-transition: all 300ms ease-in;
-ms-transform: scale(0.75);   
-moz-transition: all 300ms ease-in;
-moz-transform: scale(0.75);
transition: all 300ms ease-in;
transform: scale(0.75);

}
.circle::before{
content: ' \25CF';
position: absolute;
margin-top: -65px;
margin-left:-30px;
font-size: 165px;
color:#DEDDDD;
opacity: 0.6;

}
.PersonHeader{
font-family:Roboto, Helvetica, sans-serif;
position: static;
padding: 10px 10px 10px 10px;
text-align: left;
margin: -2px 0 0 1rem;
font-size: 1.1rem;
color:black;
border-radius: 10px;
}
.PersonStyle{
border-radius: 50%;
}
.Initials-single{
position: absolute;
margin-top: 23px;
margin-left:10px;
font-size: 28px;
color: black;
text-transform: capitalize;
font-weight: lighter;
}
.Initials-double{
position: absolute;
margin-top: 23px;
margin-left: 2px;

font-size: 28px;
color: black;
font-weight: lighter;
}
.PersonFont{
position: absolute;
margin-left: 210px;
font-size: 16px;
}
.Person-Name{
font-weight: lighter;
position: absolute;
margin-top:25px;
margin-left: 60px;
font-size: 23.5px;
font-family: Roboto, Helvetica, sans-serif;
}
.App-header {
background-color: #222;
height: 150px;
padding: 20px;
color: wheat;
}
.pagination {
display: inline-block;
position: absolute;
margin-top: 420px;
padding-top: 100px;
margin-left: 390px;
}
.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}
.pagination a.active {
background-color: grey;
color: white;
}
.btn{
position: absolute;
margin-top:400px;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.container{
display: grid;
grid-template-columns: 28.5vw 28.5vw 28.5vw;
grid-auto-columns: 20vw;
grid-template-rows: 20.5vh 20.5vh 20.5vh;
grid-auto-rows: 20vh;
grid-gap: 0.2%;
margin-left:  -71px;
position: absolute; 
margin-bottom: 5px;
margin-top:  80px;
margin-right: 140px;
}
.App-title {
font-size: 1.5em;
}
.App-intro {
font-size: large;
}
@media only screen and (max-width: 500px) and (min-width: 200px) {
.container{
transform: scale(1.2);
display: grid;
grid-template-columns: 10% 10% 10%;
grid-template-rows: 10% 10% 10% ;  
grid-gap: 14.3%;
margin-left: 20px;
position: absolute;
border: 1px solid black;
margin-bottom: 12px;
margin-top: 350px;
padding: 5px 5px;
}
.card{
padding:7px;
box-sizing: border-box;
height: 12.5rem;
background:white;
width:10rem;
overflow: hidden;


}
}
@media only screen and (max-width: 900px) and (min-width: 500px) {
.container{
transform: scale(1.2);
display: grid;
grid-template-columns: 23% 23% 23%;
grid-template-rows: 10% 10% 10% ;  
grid-gap: 13.3%;
margin-left: 10px;
position: absolute;
border: 1px solid black;
margin-bottom: 12px;
margin-top: 350px;
  padding: 5px 5px;
}
.card{
  padding:7px;
  box-sizing: border-box;
  height:  10rem;;
  background:white;
  width:132%;
  overflow: hidden;
}

}
@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
.seaching{
border: 1px solid white;
position: absolute;
margin-top: 160px;
width: 850px;
height: 50px;
background: white;
margin-left: 80px;
}
.wrap {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: absolute;
}

.search {
display: flex;
width: 31.7%;
margin-top: 0px;
margin-left:750px;
position:relative;
background: #00B4CC;
border-radius: 1px;
}
.search-term {
width: 100%;
border: 1px solid #00B4CC;
padding: 5px;
height: 20px;
outline: none;
text-indent: 28px;
color: #9DBFAF;
font-family: Roboto, Helvetica, sans-serif;
font-size: 14px;
}
.search-term:focus {
color: #00B4CC;
}
.svg {
margin: auto 0;
position: absolute;
height: 20px;
margin-left:5px;
fill: second-color;
top: 0; 
bottom: 0;
}